.DS_Store
*.a
*.o
exam_progress/
rendu/
a.out
p
.vscode/
extra/progress/
.progress/
*.dSYM
a.out.dSYM/
test
vbc

# Estudio42 skill personal data (keep tips if you want to share)
.estudio42/config.json
.estudio42/progress.json
# Uncomment to ignore tips too:
# .estudio42/tips/

rendu4/ft_popen/ft_popen